<footer>
    <p>&copy; 2025 Shaadi Resale. All rights reserved.</p>
    <div class="social-media">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
    </div>
</footer>
</body>
</html>