<%- include('./partials/header.ejs')%>  
<main>
    <section class="intro">
        <div class="intro-text">
            <h1>INDIAN BRIDAL RESALE COLLECTION</h1>
            <p>Discover a stunning collection of pre-loved Indian bridal wear, featuring timeless elegance, intricate craftsmanship, and rich cultural heritage—perfect for your special day.</p>
            <a href="/items" class="browse-button">Start Browsing →</a>
        </div>
    </section>
    <section class="gallery">
        <img src="images/index_page_img2.webp" alt="Bridal Wear 1" class="small-img">
        <img src="images/index_page_img4.webp" alt="Bridal Wear 2" class="second-small-img">
    </section>
</main>
    <%- include('./partials/footer.ejs')%>